
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container-fluid {
    display: flex;
	flex-direction: column;

    margin: 0;
    padding: 0;

    height: 100%;
    min-height: 100%;

    color: #EEE;
    
	
}




.header{
    min-height: 30%;
    background-color: rgba(0, 0, 0, 0.9);

    background-image: url("../img/code.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
        
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-darker{

    min-height: 100%;

    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.85);

}






.landing{
    background-image: url("../img/iot.png");
}


.intermedio-landing{
    display: flex; flex:1 1 auto;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.9);
    
    height: 100%;
    min-height: 90%;
    text-align: center;

    

    
}

.intermedio{
    display: flex; flex:1 1 auto;
    flex-direction: column;
    
    justify-content: top;
    align-items: flex-start;
    

    background-color:#EEE;
    color: #000;
    
    height: 65%;
    min-height: 65%;
    text-align: center;

    

    
}


.pie{
    display: flex; flex:1 1 auto;
    flex-direction: column;
    
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);

    min-height: 5%;
    text-align: center;
    
}



/*
    Texto landing
*/
.landing-text {
		font-size: 3rem;
}
	
.landing-btn{
    margin-top: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    
    border-radius: 5px;
    background-color: rgba(50, 170, 255, 1);

}

.landing-btn:hover{
    background-color: rgba(20, 50, 200, 1);
    transition: background-color 0.2s ease-in-out;

}


.modal-title{
    color: #000;
}


.pie-contacto{
    color:#fff;
    font-size: 2rem;
    margin-bottom: 2rem;
}

